<h2>Comments INdex</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

  <h3><%= @post.title %></h3>

  <h4><%= link_to @post.link, @post.link %></h4>

  <p><%= @post.user.email %></p>

  <%= link_to " New", new_post_comment_path(@post.id), :class=>"btn btn-primary glyphicon glyphicon-comment" %>



  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">Vote</th>
        <th>Member</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>

      <% @comments.each do |comment| %>
        <tr>
          <td class="text-center">
            <div class="row">
              <div class="col-xs-12">
                <%= bootstrap_form_for [@post, comment, @vote] do |f| %>
                  <%= f.hidden_field :value, value: 1 %>
                  <%= f.button "", class: "btn btn-link btn-xs glyphicon glyphicon-hand-up" %>
                <% end %>
              </div>
              <div class="col-xs-12">
                <%= comment.votes.reduce(0){|sum, v| sum += v.value} %>
              </div>
              <div class="col-xs-12">
                <%= bootstrap_form_for [@post, comment, @vote] do |f| %>
                  <%= f.hidden_field :value, value: -1 %>
                  <%= f.button "", class: "btn btn-link btn-xs glyphicon glyphicon-hand-down" %>
                <% end %>
              </div>
            </div>
          </td>
          <td><%= comment.user.email %></td>
          <td><%= comment.body %></td>
        </tr>

      <% end %>

    </tbody>
  </table>

  </div>
</div>