<h2>New Comment Page</h2>


<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h3><%= @post.title %></h3>

    <h4><%= link_to @post.link, @post.link %></h4>

    <p><%= @post.user.email %></p>

    <%= bootstrap_form_for [@post, @comment] do |f| %>
      <%= f.text_field :body, placeholder: "Enter your comment", icon: "pencil" %>
      <%= f.submit "Create Comment", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>